---
interface Props {
  title?: string;
  description?: string;
}

const {
  title = "Frontend Mentor | Workit landing page",
  description = "Frontend Mentor | Workit landing page",
} = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width" />
    <link
      rel="icon"
      type="image/svg+xml"
      href="/src/assets/images/favicon-32x32.png"
    />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <slot />
  </body>
</html>
<style is:global>
  *,
  *::after,
  *::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font: inherit;
  }

  html {
    hanging-punctuation: first last;
  }

  body {
    min-height: 100svh;
  }

  img,
  picture,
  svg,
  video {
    font-style: italic;
    background-repeat: no-repeat;
    background-size: cover;
    shape-margin: 1rem;
    max-width: 100%;
    height: auto;
    vertical-align: middle;
  }

  @media (prefers-reduced-motion: no-preference) {
    :has(:target) {
      scroll-behavior: smooth;
      scroll-padding-top: 3rem;
    }
  }

  @font-face {
    font-family: "Manrope";
    src: url("/public/fonts/manrope/Manrope-VariableFont_wght.ttf")
      format("ttf");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "Fraunces 144pt";
    src: url("/public/fonts/fraunces/Fraunces-VariableFont_SOFT\,WONK\,opsz\,wght.ttf")
      format("ttf");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }

  a , p {
    font-family: "Manrope" , sans-serif;
  }
  
  h1 , h2 {
    font-family: "Fraunces 144pt" , sans-serif;
  }
</style>
